.swipper-big {
  width: 100% !important;
  height: 120px !important;
}

.swiper-wraper {
  display: flex;
}

.img-container {
  width: 100px;
  height: 100%;

  padding: 0.8rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.img-container img {
  width: 80% !important;
  height: 90% !important;
}

.active-item {
  opacity: 0.4;
  transform: scale(0.8);
  filter: grayscale(100%);
  pointer-events: none;
}

.swiper-pagination {
  top: 95px !important;
}
