.main-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
}

.item-title {
    text-align: center;
}

.item-description {
    margin-top:1.1rem ;
    color: rgba(0, 0, 0, 0.619);
    font-size: 0.98em;
}

.item-price {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 2.4em;
    color: rgba(0, 0, 0, 0.619);
}

.quantity {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(133, 133, 133, 0.176);
    height: 4rem;
    border-radius: 10px;
}

.quantity button {
    border: 0;
    font-size: 1.3em;
    font-weight: 600;
    background: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.quantity input {
    font-size: 1.2em;
    width: 30px;
    background:none;
    border: none;
}

.add-to-cart-btn {
    margin-top: 2rem;
    width: 100%;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    padding-block: 1.1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}



